

$aside-bg-color: #001529;
$aside-color: rgba(255, 255, 255, 0.7);
$aside-open-width: 260px;

$aside-menu-bg-color-active:#2d8cf0;
$aside-menu-color-active:#fff;

$aside-menu-bg-color-hover:$aside-bg-color;
$aside-menu-color-hover:#fff;

$aside-menu-min-color:#fff;
$aside-menu-min-bg-color:$aside-bg-color;



$header-height: 64px;
$header-icon-color: #5c6b77;
$header-icon-color-hover: #57a3f3;



